mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav, mat-sidenav-content {
  //padding: 16px;
}

mat-sidenav{
  background-color: white;
  width: 200px;
}

main {
  /*padding: 10px;*/
}
.example-container {
  width: 400px;
  height: 200px;
  margin: 12px;
  border: 1px solid #555;
}

.contenedor {
  height:94%;
  width: 100%;
}
