.example-card {
  max-width: 500px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.contenedor {
  height:100%;
  width: 100%;
  background-color: rgb(196, 196, 196);
}

img {
  max-height: 360px;
  object-fit: cover;

  }
