<div class="contenedor d-flex justify-content-around align-items-center">
  <mat-card class="example-card" style="margin-left: 100px; margin-right: 30px;">
    <mat-card-header>
      <mat-card-title>Subida y consulta</mat-card-title>
      <mat-card-subtitle>Subi y/o consulta tus documentos medicos ingresando aqui</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/Documentos2.jpg" alt="Photo of a Shiba Inu"/>
    <mat-card-actions style="text-align: center">
      <button color="primary" mat-raised-button style="width: 90%" (click)="consulta()">Ingresar</button>
    </mat-card-actions>
    <div class="d-flex justify-content-around"></div>
  </mat-card>

  <mat-card class="example-card" style="margin-right: 100px; margin-left: 30px">
    <mat-card-header>
      <mat-card-title>Autorizaciones</mat-card-title>
      <mat-card-subtitle>Autoriza a un medico a acceder a tu documentación medica</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/Lista-autorizados2.jpg" alt="Photo of a Shiba Inu"/>
    <mat-card-actions style="text-align: center">
      <button color="primary" mat-raised-button style="width: 90%" (click)="autorizacion()">Ingresar</button>
    </mat-card-actions>
    <div class="d-flex justify-content-around"></div>
  </mat-card>
</div>
