<mat-card class="card">
<form [formGroup]="loginForm" (ngSubmit)="login()" *ngIf="estado == 0">
  <h1>Inicio de sesión</h1>
  <br>
  <p>
      <mat-form-field>
          <input type="text" class="input" formControlName="email" matInput placeholder="Email">
      </mat-form-field>
  </p>
  <p>
      <mat-form-field>
          <input type="password" class="input" formControlName="password" matInput placeholder="Contraseña">
      </mat-form-field>
  </p>

  <p></p>
  <a routerLink="" (click)="forgotPassword()">Olvide mi contraseña</a>

  <hr>
  <div class="d-flex justify-content-around">
      <button class="boton" type="submit" [disabled]="loading" [disabled]="!loginForm.valid" color="primary" mat-raised-button as style="width: 40%;">
        Iniciar sesión
        <mat-icon><mat-spinner color="accent" diameter="20" *ngIf="loading"></mat-spinner></mat-icon>
      </button>
  </div>
</form>

<div *ngIf="estado == 1">
  <h2>Recuperar Contraseña</h2>
  <br>
  <mat-form-field>
  <input type="text" matInput placeholder="Ingrese su e-mail" [(ngModel)]="Email">
  </mat-form-field>
  <hr>
  <div class="d-flex justify-content-around">
      <div><button (click)="sendEmail()" color="primary" mat-raised-button> Confirmar</button></div>
      <div><button (click)="close()" mat-raised-button>Cancelar</button></div>
  </div>
</div>
<br>
<div>¿No tienes cuenta? <a (click)="close()"[matMenuTriggerFor]="menu">Registrate</a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/registrarMedico">Soy un Medico</button>
    <button mat-menu-item routerLink="/registrarPaciente">Soy un paciente</button>
  </mat-menu>
</div>

</mat-card>
