<mat-nav-list >
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Menu Principal</span>
  </a>
  <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Prueba 1</span>
</a>
<a mat-list-item routerLink="/home" (click)="onSidenavClose()">
  <mat-icon>home</mat-icon> <span class="nav-caption">Prueba 2</span>
</a>
<a mat-list-item routerLink="/home" (click)="onSidenavClose()">
  <mat-icon>home</mat-icon> <span class="nav-caption">Prueba 3</span>
</a>
</mat-nav-list>

