

<h1>PDF</h1>
<hr>
<embed *ngIf="estado==1" [src]="archivo  | safe" type="application/pdf" style="height: '90%'; width:'100%'; ">
<embed *ngIf="estado==2" [src]="archivo  | safe" type="image/png" style="height: '90%'; width:'100%'; ">
<embed *ngIf="estado==3" [src]="archivo  | safe" type="image/jpeg" style="height: '90%'; width:'100%'; ">
<embed *ngIf="estado==4" [src]="archivo  | safe" type="image/jpg" style="height: '90%'; width:'100%'; ">




