<div class="center">
    <div class="card">
      <form [formGroup]="registerForm" *ngIf="estado == 0">
        <h1>Modificar Paciente</h1>
        <br>
        <!-- <div mat-dialog-content> -->
            <div class="row">
                <div class="col-6">
                  <mat-form-field>
                    <input formControlName="dni" matInput placeholder="Dni">
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                  <div class="col-6">
                    <mat-form-field>
                      <input formControlName="apellido" matInput placeholder="Apellido">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field>
                      <input formControlName="nombre" matInput placeholder="Nombre">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <mat-form-field>
                    <input matInput formControlName="nacionalidad"  placeholder="Nacionalidad">
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field>
                    <input matInput formControlName="telefono"  placeholder="Telefono">
                  </mat-form-field>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-6">
                  <mat-form-field appearance="fill">
                    <mat-label>Obra Social</mat-label>
                    <mat-select formControlName="obraElegida" >
                      <mat-option *ngFor="let obra of listaobras" [value]="obra.idObraSocial">
                        {{obra.descripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-6">
                  <mat-form-field>
                    <input formControlName="nroAfiliado" matInput placeholder="Nro afiliado">
                  </mat-form-field>
                </div>
              </div>
              <div class="row" >
                <div class="col-6">
              <mat-form-field appearance="fill" >
                  <mat-label>Fecha de Nacimiento</mat-label>
                  <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento"  placeholder="Fecha de Nacimiento">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker startView="year" [startAt]="startDate"></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-6" >
              <mat-radio-group formControlName="sexo"  placeholder="Sexo" class="d-flex flex-column bd-highlight mb-3">
                  <mat-radio-button value="Femenino">Femenino</mat-radio-button>
                  <mat-radio-button value="Masculino">Masculino</mat-radio-button>
                  <mat-radio-button value="Otro">Otro</mat-radio-button>
              </mat-radio-group>
            </div>
            </div>
            <br>
              <div>
                <h1>Domicilio</h1>
                <!--<mat-label >Domicilio</mat-label>-->
              </div>

              <div class="row">
                  <div class="col-6">
                    <mat-form-field>
                      <input matInput formControlName="domicilioCalle"  placeholder="Calle">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field>
                      <input matInput formControlName="domicilioNumero"  placeholder="Número">
                    </mat-form-field>
                  </div>
              </div>
              <div class="row">
                  <div class="col-6">
                    <mat-form-field>
                      <input matInput formControlName="localidad"  placeholder="Localidad">
                    </mat-form-field>
                  </div>
                  <div class="col-6">
                    <mat-form-field>
                      <input matInput formControlName="provincia"  placeholder="Provincia">
                    </mat-form-field>
                  </div>
                </div>
        <hr>
        <div class="d-flex justify-content-around">
            <button class="boton" type="button" (click)="guardar()"  color="primary" mat-raised-button as>Guardar</button>
            <!-- [disabled]="!registerForm.valid" -->
            <button class="boton" type="button" (click)="cancelar()" mat-raised-button>Cancelar</button>
        </div>
      </form>

    </div>
    </div>
