.boton {
    margin: 10px;
    width: 150px;
  }

  .input{
  width: 100%;
  }

  .center{
    position: relative;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }


  mat-form-field{
    width: 90%;
  }


  @media screen and (min-width: 500px) {
    .card{
      margin: 0px auto;
      margin-top: 3% ;
      justify-content: center;
      width: 95%;
      padding-left: 2%;
      padding-top: 2%;
      padding-bottom: 2%;
    }

    .card{
      margin: 0px auto;
      margin-top: 3% ;
      justify-content: center;
      width: 500px;
      padding-left: 2%;
      padding-top: 2%;
      padding-bottom: 2%;

    }
  }
