a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar{
  border-radius: 0px;
}

@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
  }
}

.example-header-image {
  // fill: #ffff;
  // background-image: url('/assets/img/avatarelleno.svg');
  // background-size: cover;

  background-color: white;
    -webkit-mask:  url('/assets/img/avatarelleno.svg') no-repeat 50% 50%;
    mask: url('/assets/img/avatarelleno.svg') no-repeat 50% 50%;

}
//<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
