<mat-toolbar class="d-flex bd-highlight " color="primary">
    <div class="col-4" style="text-align: center;">
      <img src="assets/img/icono-app2.png" alt="image" width="50" height="50" style="margin-right: 20px;"/>
      <a routerLink="/home">Sistema de Documentacion Medica</a>
    </div>
    <div class="col-2" style="text-align: center;">
      <!-- <a routerLink="/home">Sistema de Documentacion Medica</a> -->
    </div>
    <div class="col-6 d-flex justify-content-end" style="text-align: right; ">
      <div>
        <div mat-card-avatar mat-button [matMenuTriggerFor]="menu"  class="example-header-image"></div>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu" style="font-size: 20px; ">{{nombreUsuario}}@prueba.com</button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="modificarDatos()">Modificar mis datos</button>
            <button mat-menu-item (click)="cerrarSesion()">Cerrar Sesión</button>
          </mat-menu>
        </div>

    </div>
</mat-toolbar>
