.textBox{
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.espacio{
  margin-top: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.tarjeta {
  max-width: 500px;
  min-width: 300px;
}

.contenedor {

  display: flex;
  justify-content: center;
  align-items: center;
}

.cargo{
  background-color: purple;
}
.dependiente{
  background-color: orangered;
}
td, th {
  width: 25%;
}

table {
  width: 100%;
}
