<div class="mat-elevation-z8">
  <table mat-table [dataSource]="listData" matSort style="width: 100%;">
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="margin-left:15px; margin-right: 15px;"> Nombre archivo </th>
      <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
    </ng-container>
    <ng-container matColumnDef="idInstitucion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Institucion que lo expidió </th>
      <td mat-cell *matCellDef="let row"> {{row.idInstitucion}} </td>
    </ng-container>
    <ng-container matColumnDef="fechaSubida">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de subida </th>
      <td mat-cell *matCellDef="let row"> {{row.fechaSubida | date: 'dd/MM/YYYY'}} </td>
    </ng-container>
    <ng-container matColumnDef="fechaCreacion">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de creacion</th>
      <td mat-cell *matCellDef="let row"> {{row.fechaCreacion | date: 'dd/MM/YYYY'}} </td>
    </ng-container>
    <ng-container matColumnDef="formato">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Formato </th>
      <td mat-cell *matCellDef="let row"> {{row.formato }} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Seleccionar </th>
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="openView(row.idArchivo)">
          <mat-icon>open_in_browser</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>
