<div class="contenedor">
  <mat-card class="tarjeta">
    <br>
    <div>
      <h1>Recuperar Contraseña</h1>
    </div>
    <div *ngIf="estado == 0">
    <div style="text-align: center;">
    <p>
      <mat-form-field>
          <input type="password" matInput placeholder="Nueva Contraseña" [(ngModel)]="password">
      </mat-form-field>
  </p>
  <p>
      <mat-form-field>
          <input type="password" matInput placeholder="Confirmar nueva contraseña" [(ngModel)]="confirmacion">
      </mat-form-field>
  </p>
</div>
  <hr>
  <div class="d-flex justify-content-around">
      <div><button type="boton"  (click)="confirmar()" color="primary" mat-raised-button>Confirmar</button></div>
      <div><button type="button" (click)="close()" mat-raised-button>Cancelar</button> </div>
  </div>
</div>
<div *ngIf="estado == 1">
  <p>La contraseña se modifico correctamente</p>
  <div class="d-flex justify-content-around">
      <div><button type="button" (click)="close()" mat-raised-button color="primary">Volver al inicio</button> </div>
  </div>
</div>
  </mat-card>
</div>
