<div class="contenedor d-flex justify-content-around align-items-center" >
  <mat-card class="example-card" style="margin-left: 100px;" >
    <mat-card-header>
      <mat-card-title>Consultas</mat-card-title>
      <mat-card-subtitle>Buscá y consulta los documentos de los pacientes</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/Documentos.jpg" alt="Consulta de Documentos">
    <mat-card-actions style="text-align: center;">
      <button  color="primary" mat-raised-button style="width: 90%;" (click)="openView()"> Ingresar</button>
    </mat-card-actions>
    <div class="d-flex justify-content-around">
  </div>
  </mat-card>

</div>
