<!--<form [formGroup]="relacionPadreHijoForm">-->

<div class="contenedor">
  <mat-card class="tarjeta">
    <br />
    <div style="margin-bottom: 40px">
      <h1>Subir nuevo documento</h1>
    </div>
    <form [formGroup]="documentoForm">
      <div>
        <mat-form-field style="margin-bottom: 20px; width: 100%">
          <input
            matInput
            formControlName="nombreDocumento"
            placeholder="Nombre del Documento"
          />
        </mat-form-field>
      </div>
      <div class="row">
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Institucion</mat-label>
            <mat-select formControlName="institucionElegida">
              <mat-option
                *ngFor="let institucion of listaInstituciones"
                [value]="institucion.idInstitucion"
              >
                {{ institucion.descripcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field appearance="fill">
            <mat-label>Tipo de documento</mat-label>
            <mat-select formControlName="tipoDocumentoElegido">
              <mat-option
                *ngFor="let tipoDocumento of listaTiposDocumentos"
                [value]="tipoDocumento.idTipoDocumento"
              >
                {{ tipoDocumento.descripcion }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>

    <!-- Cargado del archivo -->

    <div class="center" style="margin-bottom: 30px; margin-top: 30px">
      <ngx-file-drop
        dropZoneLabel="Drop files here"
        (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)"
        (onFileLeave)="fileLeave($event)"
        *ngIf="estado == 1"
      >
        <ng-template
          ngx-file-drop-content-tmp
          let-openFileSelector="openFileSelector"
        >
          <button type="button" mat-button (click)="openFileSelector()">
            Arrastre su documento o haga click aqui
          </button>
        </ng-template>
      </ngx-file-drop>
      <div class="upload-table" *ngIf="estado == 2">
        <table class="table">
          <thead>
            <tr>
              <th>Archivo</th>
            </tr>
          </thead>
          <tbody class="upload-name-style">
            <tr *ngFor="let item of files; let i = index">
              <td>
                <strong>{{ item.relativePath }}</strong>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="d-flex justify-content-around">
      <div>
        <button
          class="espacio"
          type="submit"
          (click)="confirmar()"
          color="primary"
          mat-raised-button
        >
          Confirmar
        </button>
      </div>
      <div>
        <button
          class="espacio"
          type="button"
          (click)="close()"
          mat-raised-button
        >
          Cancelar
        </button>
      </div>
    </div>
  </mat-card>
</div>
