<div class="contenedor">
  <mat-card class="tarjeta">
    <br>
    <div>
      <h1>Buscar Profesional</h1>
    </div>

      <div class="p-2 bd-highlight ">
        <mat-form-field floatLabel="never">
          <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilter()">
          <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="listData" matSort>
          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
            <td mat-cell *matCellDef="let row"> {{row.persona.apellido}} </td>
          </ng-container>
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.persona.nombre}} </td>
          </ng-container>
          <ng-container matColumnDef="matricula">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Matricula </th>
            <td mat-cell *matCellDef="let row"> {{row.matricula}} </td>
          </ng-container>
          <ng-container matColumnDef="especialidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Especialidad</th>
            <td mat-cell *matCellDef="let row"> {{row.especialidad}} </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Añadir autorizacion</th>
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button mat-icon-button (click)="seleccionar(row)">
                <mat-icon>person_add_alt</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
      </div>
<br>
<br>
    <div class="d-flex justify-content-around">
      <div><button class="espacio" type="submit" [disabled]="!(estado == 2)" (click)="confirmar()" color="primary" mat-raised-button>Confirmar</button></div>
      <div><button class="espacio" type="button" (click)="close()" mat-raised-button>Cancelar</button>
      </div>
    </div>

  </mat-card>
</div>
