<h1 style="margin-top: 20px; margin-bottom:30px;">Profesionales Autorizados</h1>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="listData" matSort style="width: 100%;">
    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
      <td mat-cell *matCellDef="let row"> {{row.persona.apellido}} </td>
    </ng-container>
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
      <td mat-cell *matCellDef="let row"> {{row.persona.nombre}} </td>
    </ng-container>
    <ng-container matColumnDef="matricula">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Matricula </th>
      <td mat-cell *matCellDef="let row"> {{row.matricula}} </td>
    </ng-container>
    <ng-container matColumnDef="especialidad">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Especialidad</th>
      <td mat-cell *matCellDef="let row"> {{row.especialidad}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Remover autorizacion</th>
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="remover(row)">
          <mat-icon color="primary">close</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <br>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>


  <div class="example-button-container">
    <button mat-fab color="primary" (click)="autorizacion()" aria-label="Example icon button with a delete icon" class="fa fa-plus boton">
      <mat-icon>add_to_photos</mat-icon>
    </button>
  </div>

