<div *ngIf="estado ==1">
<div class="row" style="margin-top: 20px; margin-left: 80px;">
  <div class="col-6"><h2>Nombre y Apellido: {{pacienteSeleccionado.persona.nombre}} {{pacienteSeleccionado.persona.apellido}}</h2></div>
  <div class="col-6"><h2>DNI: {{pacienteSeleccionado.persona.dni}}</h2></div>
</div>

<div class="row" style="margin-top: 20px; margin-left: 80px;">
  <div class="col-6"><h2>Domicilio: {{pacienteSeleccionado.persona.domicilio.calle}} {{pacienteSeleccionado.persona.domicilio.nro}} {{pacienteSeleccionado.persona.domicilio.provincia}}</h2></div>
  <div class="col-6"><h2>Obra Social: {{nombreObraSocial}} afiliado {{pacienteSeleccionado.idObraSocial}}</h2></div>
</div>

<mat-tab-group mat-align-tabs="start" style="margin-top: 50px; margin-left: 50px; margin-right: 50px;">
  <mat-tab label="HISTORIAS CLINICAS">

    <app-tabla-documentos [tipoDocumento]="1"></app-tabla-documentos>

  </mat-tab>

  <mat-tab label="ESTUDIOS">
    <app-tabla-documentos [tipoDocumento]="2"></app-tabla-documentos>

  </mat-tab>

  <mat-tab label="RECETAS">
    <app-tabla-documentos [tipoDocumento]="3"></app-tabla-documentos>

  </mat-tab>

</mat-tab-group>


<div class="example-button-container">
  <button mat-fab color="primary" (click)="nuevoDocumento()" aria-label="Example icon button with a delete icon" class="fa fa-plus boton">
    <mat-icon>add_to_photos</mat-icon>
  </button>
</div>
</div>
